.menu li {
  display: inline;
  border: 2px solid teal;
  background-color: teal;
  padding: 10px;
}
.menu a {
  color: white;
  text-decoration: none;
}

.menu {
  float: right;
}
.logo {
  float: left;
  text-transform: uppercase;
}
.header {
  clear: both;
  height: 450px;
  background-image: url('../images/work1.jpg');
  background-position: center;
}
.headerbox {
  width: 500px;
  height: 200px;
  background-color: white;
  margin-left: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.mainbody {
  height: 450px;
  background: white;
  padding-right: 150px;
  padding-left: 150px;
}
.right {
  float: right;
  margin-right: 1px;
  width: 49%;
}
.left {
  float: left;
  width: 49%;
  margin-left:1 px;
}
.bottombox {
  height: 200px;
}
.pic {
  width: 33%;
  float: left;
}
.pic2 {
  width: 33%;
  float: left;
}
.laptop {
  width: 34%;
  float: right;
}
